body{
    background-color: rgb(228, 228, 228);
    font-family: "Lato", sans-serif;
}
/*TITULO PRINCIPAL*/
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:  60px;
    text-shadow: 3px 3px grey;
    margin: 0px;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px grey;
}
/*Subtitulo*/
.subTitle{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size:  30px;
  text-shadow: 3px 3px grey;
  margin: 50px;
}
/*NavBar lateral*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  .sidenav a:hover {
    color: #f1f1f1;
}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*Tabela*/
  table{
    border-collapse: collapse;
    width: 50%;
}
  tr, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(110, 110, 110);
  }
  .hoverTable:hover{
    background-color: rgb(164, 246, 144);
  }
  /*Botão de cadastro*/
  .cadastro{
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(67, 161, 67);
 
}
  .cadastro a {
    text-decoration: none;
    color: black;
}
  .cadastro:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.formsCadastro{
  justify-content: center;
  display: flex;
}
.input{
  width: 350px;
  margin-left: auto;
  margin-bottom: 10px;

}
.btnCadastro{
  margin-left: 220px;
  margin-top: 30px;
  height: 30px;
  text-align: center;
  background-color: rgb(9, 185, 9);
  border: none;
  border-radius: 5px;
}
.btnCancela{
  background-color: red;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  height: 30px;
  text-align: center;
}
.btnCadastro:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.btnCancela:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.subTitleH2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size:  25px;
  text-shadow: 1px 1px grey;
  margin: 50px;
}

.input2{
  width: 150px;
  margin-left: auto;
  margin-bottom: 10px;

}
.btnAtt{
  margin-left: 50px;
  margin-top: 30px;
  height: 30px;
  text-align: center;
  background-color: rgb(9, 185, 9);
  border: none;
  border-radius: 5px;
}
.btnAtt:hover{
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
p{
  text-align: center;
}